<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}Rent Car{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index' %}">Rent car</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Главная<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'landing' %}">landing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Админка</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'car' %}">Rest Car</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'order' %}">Rest Order</a>
      </li>
    </ul>
  </div>
</nav>
    <main>
        {% block main %} Main content {% endblock%}
    </main>
</body>
</html>
