{% extends 'index/base.html' %}
{% block title %} Регистрация {%endblock%}
{% block main %}

<div class='container mt-4 mb-4'>
  <h2>Регистрация</h2>
<form action="" method="post" class="mt-4">
  {% csrf_token %}
  {% for f in form %}
<p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}

  <button type="submit" class="w-20 btn btn-primary btn-lg">Регистрация</button>
</form>
<div class='container mt-4'>






{% endblock %}